# Build output directies
target/
build/
dist/

# IntelliJ specific files/directories
out
.idea
*.ipr
*.iws
*.iml

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata
.loadpath
.recommenders
.tern-project

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

